################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DinoGame/FileContentIndex/0af8c81a-78e5-4aa0-a24a-0477fa1f4312.vsidx
/.vs/DinoGame/FileContentIndex/701fe14c-6944-4b03-b976-dcce317c6728.vsidx
/.vs/DinoGame/FileContentIndex/78a7bb5b-7101-4899-afc2-a1fce6aaf32a.vsidx
/.vs/DinoGame/FileContentIndex/8ee721cf-d129-48db-ac04-3b07933c4bf1.vsidx
/.vs/DinoGame/FileContentIndex/b3801a1b-584a-401a-a489-77356af57dce.vsidx
/.vs/DinoGame/FileContentIndex/read.lock
